<!DOCTYPE html>
<html lang="en">
    <head>
    
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Fretboard Index</title>
        
    
        <script type="text/javascript" src="/static/js/navbar.js"></script>
        <link rel="stylesheet" href="/static/css/navbar.css">
          <link rel="stylesheet" href="/static/css/soundkeyfretboard.css">
    </head>

    <body>
        <div class = "top_nav">
            <div class = "main_column">
                <a style="" href="#">
                    <div>Soundkey</div>
                </a>
                <a style="" href="#">
                    <div>Fretboard</div>
                </a>
                <a style="" href="#">
                    <div>Piano</div>
                </a>
                
            </div>
            <div class = "menu_column">
                <a class ="menu_click" style="display:block" href="#">
                    <div class = "menu_button">
                        &#9776;
                    </div>
                </a>
                
            
            </div>
        </div>
        
        <div class = "bottom_nav">
            <a style="display:block" href="#">
                <div class="Fretboard">Fretboard</div>
            </a>
            <a style="display:block" href="#">
                <div class="Piano">Piano</div>
            </a>
            <a style="display:block" href="#">
                    <div class="Dictionary">Dictionary</div>
                </a>
            
            
            <a style="display:block" href="#">
                    <div class="About">About</div>
                </a>
            
           
            
        </div>
    
    
    {% block content %}
    {% endblock %}


    </body>




</html>