<!DOCTYPE html>
<html lang="en">
    <head>
    
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Fretboard Index</title>
        
    
        <script type="text/javascript" src="/static/js/navbar.js"></script>
        <link rel="stylesheet" href="/static/css/navbar.css">
        <link rel="stylesheet" href="/static/css/soundkeyfretboard.css">

        <link rel="stylesheet" href="/static/css/sidebar.css">
        <script type="text/javascript" src="/static/js/sidebar.js"></script>
    </head>

    <body>
        <!-- sidebar -->
        <div class="chord-scale-sidebar" id="chord-scale-sidebar">
            <div class="close-menu-button" id="close-menu-button">&#10006;</div>
            <ul class = "main-menu">
                <div class = "menu-level-1"><h3>Scales</h3></div>
                <ul>
                    <li> <div class ="menu-level-2"><h4>Diatonic</h4></div>  
                        <ul class="menu-level-3">
                        
                            {% with Ionian="Ionian" Dorian="Dorian" Phrygian="Phrygian" Lydian="Lydian" Mixolydian="Mixolydian" Aeolian="Aeolian" Locrian="Locrian" %}
                            <li><a href="{% url 'fretboardscale' Ionian scale.root %}">Ionian</a></li>
                            <li><a href="{% url 'fretboardscale' Dorian scale.root %}">Dorian</a></li>
                            <li><a href="{% url 'fretboardscale' Phrygian scale.root %}">Phrygian</a></li>
                            <li><a href="{% url 'fretboardscale' Lydian scale.root %}">Lydian</a></li>
                            <li><a href="{% url 'fretboardscale' Mixolydian scale.root %}">Mixolydian</a></li>
                            <li><a href="{% url 'fretboardscale' Aeolian scale.root %}">Aeolian</a></li>
                            <li><a href="{% url 'fretboardscale' Locrian scale.root %}">Locrian</a></li> 
                            {% endwith %}
                        </ul>
                    </li>

                    <li> <div class ="menu-level-2"><h4>Melodic Minor</h4></div>  
                        <ul class="menu-level-3">

                            <li><a href="{% url 'fretboardscale' 'Melodic Minor' scale.root %}">Melodic Minor</a></li> 
                            <li><a href="{% url 'fretboardscale' 'Dorian b2' scale.root %}">Dorian b2</a></li>
                            <li><a href="{% url 'fretboardscale' 'Lydian Augmented' scale.root %}">Lydian Augmented</a></li>
                            <li><a href="{% url 'fretboardscale' 'Lydian Dominant' scale.root %}">Lydian Dominant</a></li>
                            <li><a href="{% url 'fretboardscale' 'Melodic Major' scale.root %}">Melodic Major</a></li>
                            <li><a href="{% url 'fretboardscale' 'Half Diminished' scale.root %}">Half Diminished</a></li>
                            <li><a href="{% url 'fretboardscale' 'Super Locrian' scale.root %}">Super Locrian</a></li>
                        </ul>
                    </li>
                    <li> <div class ="menu-level-2"><h4>Harmonic Major</h4> <span class="arrow"></span></div>  
                        <ul class="menu-level-3">
                            <li><a href="{% url 'fretboardscale' 'Harmonic Major' scale.root %}">Harmonic Major</a></li> 
                            <li><a href="{% url 'fretboardscale' 'Dorian b5' scale.root %}">Dorian b5</a></li>
                            <li><a href="{% url 'fretboardscale' 'Phrygian b4' scale.root %}">Phrygian b4</a></li>
                            <li><a href="{% url 'fretboardscale' 'Lydian Diminished' scale.root %}">Lydian Diminished</a></li>
                            <li><a href="{% url 'fretboardscale' 'Mixolydian b2' scale.root %}">Mixolydian b2</a></li>
                            <li><a href="{% url 'fretboardscale' 'Lydian Augmented #2' scale.root %}">Lydian Augmented #2</a></li>
                            <li><a href="{% url 'fretboardscale' 'Locrian Diminished 7' scale.root %}">Locrian Diminished 7</a></li>

                        </ul>
                    </li>
                    <li> <div class ="menu-level-2"><h4>Harmonic Minor</h4></div>  
                        <ul class="menu-level-3">
                            <li><a href="{% url 'fretboardscale' 'Harmonic Minor' scale.root %}">Harmonic Minor</a></li> 
                            <li><a href="{% url 'fretboardscale' 'Locrian #6' scale.root %}">Locrian #6</a></li>
                            <li><a href="{% url 'fretboardscale' 'Ionian Augmented' scale.root %}">Ionian Augmented</a></li>
                            <li><a href="{% url 'fretboardscale' 'Romainian' scale.root %}">Romainian</a></li>
                            <li><a href="{% url 'fretboardscale' 'Phrygian Dominant' scale.root %}">Phrygian Dominant</a></li>
                            <li><a href="{% url 'fretboardscale' 'Lydian #2' scale.root %}">Lydian #2</a></li>
                            <li><a href="{% url 'fretboardscale' 'Ultra Locrian' scale.root %}">Ultra Locrian</a></li>

                        </ul>
                    </li>
                    <li> <div class ="menu-level-2"><h4>Double Harmonic Major</h4></div>  
                        <ul class="menu-level-3"></ul>
                    </li>

                </ul>
                <div class = "menu-level-1"><h3>Chords</h3></div>
                <ul>
                    <li> <div class ="menu-level-2"><h4>Major</h4></div>  
                    </li>
                    <li> <div class ="menu-level-2"><h4>Minor</h4></div>  
                    </li>
                    <li> <div class ="menu-level-2"><h4>Diminished</h4></div>  
                    </li>
                    <li> <div class ="menu-level-2"><h4>Augmented</h4></div>  
                    </li>
                    <li> <div class ="menu-level-2"><h4>Suspended</h4></div>  
                    </li>
                    <li> <div class ="menu-level-2"><h4>Flat Five</h4></div>  
                    </li>


                </ul>
            </ul>

        </div>
        <!-- sidebar -->







        <div class = "top_nav">
            <div class = "main_column">
                <a style="" href="#">
                    <div>Soundkey</div>
                </a>
                <a style="" href="#">
                    <div>Fretboard</div>
                </a>
                <a style="" href="#">
                    <div>Piano</div>
                </a>
                
            </div>
            <div class = "menu_column">
                <a class ="menu_click" style="display:block" href="#">
                    <div class = "menu_button">
                        &#9776;
                    </div>
                </a>
                
            
            </div>
        </div>
        
        <div class = "bottom_nav">
            <a style="display:block" href="#">
                <div class="Fretboard">Fretboard</div>
            </a>
            <a style="display:block" href="#">
                <div class="Piano">Piano</div>
            </a>
            <a style="display:block" href="#">
                    <div class="Dictionary">Dictionary</div>
                </a>
            
            
            <a style="display:block" href="#">
                    <div class="About">About</div>
                </a>
            
           
            
        </div>
    
    
    {% block content %}
    {% endblock %}

    <div id = "sk-container"><a id = "soundkey-object-name" href = "#" >{{scale.name}}</a> </div>



    


   



    </body>




</html>