<!DOCTYPE html>
<html lang="en">
    <head>
    
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Fretboard Index</title>
        
    
        <script type="text/javascript" src="/static/js/navbar.js"></script>
        <link rel="stylesheet" href="/static/css/navbar.css">
        <link rel="stylesheet" href="/static/css/soundkeyfretboard.css">

        <link rel="stylesheet" href="/static/css/sidebar.css">
        <script type="text/javascript" src="/static/js/sidebar.js"></script>
    </head>

    <body>
        <!-- sidebar -->
        <div class="chord-scale-sidebar" id="chord-scale-sidebar">
            <div class="close-menu-button" id="close-menu-button">&#10006;</div>
            <ul class = "main-menu">
                <div class = "menu-level-1"><h3>Scales</h3></div>
                <ul>
                    <li> <div class ="menu-level-2"><h4>Diatonic</h4></div>  
                        <ul class="menu-level-3">
                        
                            <li><a href="#">Ionian</a></li>
                            <li><a href="#">Dorian</a></li>
                            <li><a href="#">Phrygian</a></li>
                            <li><a href="#">Lydian</a></li>
                            <li><a href="#">Mixolydian</a></li>
                            <li><a href="#">Aeolian</a></li>
                            <li><a href="#">Locrian</a></li> 
                        </ul>
                    </li>

                    <li> <div class ="menu-level-2"><h4>Melodic Minor</h4></div>  
                        <ul class="menu-level-3"></ul>
                    </li>
                    <li> <div class ="menu-level-2"><h4>Harmonic Major</h4></div>  
                        <ul class="menu-level-3"></ul>
                    </li>
                    <li> <div class ="menu-level-2"><h4>Harmonic Minor</h4></div>  
                        <ul class="menu-level-3"></ul>
                    </li>
                    <li> <div class ="menu-level-2"><h4>Double Harmonic Major</h4></div>  
                        <ul class="menu-level-3"></ul>
                    </li>

                </ul>
                <div class = "menu-level-1"><h3>Chords</h3></div>
                <ul></ul>
            </ul>

        </div>
        <!-- sidebar -->







        <div class = "top_nav">
            <div class = "main_column">
                <a style="" href="#">
                    <div>Soundkey</div>
                </a>
                <a style="" href="#">
                    <div>Fretboard</div>
                </a>
                <a style="" href="#">
                    <div>Piano</div>
                </a>
                
            </div>
            <div class = "menu_column">
                <a class ="menu_click" style="display:block" href="#">
                    <div class = "menu_button">
                        &#9776;
                    </div>
                </a>
                
            
            </div>
        </div>
        
        <div class = "bottom_nav">
            <a style="display:block" href="#">
                <div class="Fretboard">Fretboard</div>
            </a>
            <a style="display:block" href="#">
                <div class="Piano">Piano</div>
            </a>
            <a style="display:block" href="#">
                    <div class="Dictionary">Dictionary</div>
                </a>
            
            
            <a style="display:block" href="#">
                    <div class="About">About</div>
                </a>
            
           
            
        </div>
    
    
    {% block content %}
    {% endblock %}

    <div id = "sk-container"><a id = "soundkey-object-name" href = "#" >Double Harmonic Major</a> </div>



    


   



    </body>




</html>