 body {margin: 0;}
        
.top_nav {
    width: 100%;
    display: flex;
    background-color: #333;
    color: #f2f2f2;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    outline-style:none;
    box-shadow:none;
    border-color:transparent;
    overflow: hidden;
}

.top_nav .main_column {
    flex: 11;
    display: flex;
}
.top_nav .main_column a {
    outline-style:none;

}
.top_nav .main_column div:nth-child(0) {
    flex: 1
}
.top_nav .main_column div {
    flex: 4;
    padding: 0 16px;
}
.top_nav .menu_column {
    flex: 3;
}

.top_nav ul {text-align: center;}

.content {
    margin-top: 0;
    padding-top: 0;
    margin-left: 0;
    padding-left: 0;
}
.section {
    //width: 90%;
    //margin: 0 auto;
}

.content .show_menu {
    display: block;
}
.sub_category {
    //display: none;
    //display: none;
}
.sub_menu {
    display: none;
}
.sub_category li {
    //background-color: rgb(192, 229, 226);
    line-height: 30px;
    height: 30px;
    width: 60%;
    margin: 0 auto;
    color: gray;

}


.top_nav .menu_column a {

    opacity: 0;
    pointer-events: none;
    outline-style:none;


}
a:hover {
    background-color: white;
    text-decoration:  none; 
    
    background-color: #ddd;
    color: black;
}

a:active {
    background-color: rgb(210, 210, 210);    //color: white;

}


@media screen and (max-width: 600px) {
    .top_nav .menu_column a {
        opacity: 100;
        pointer-events: auto;
    }
    .top_nav .main_column a:nth-child(n+2){
        //opacity: 0;
        display: none;
        pointer-events: none;
    }
    a:hover {
        background-color: #333;
        text-decoration:  none; 
        color: inherit;
        background-color: inherit;
    }

    .top_nav .main_column a:active {
        color: #333;
        background-color: #ddd;
    }

    .bottom_nav a:active {
        color: #333;
        background-color: #ddd;
    }
    .top_nav .menu_column a:active {
        color: #333;
        background-color: #ddd;
    }

   

}

.navbar ul li {
    list-style: none;
}
.section ul li {
    list-style: none;
}

.navbar ul {
    //padding-left:0; 
    padding-top: 0;
}

.sub_menu li {
    padding-left:0; 
    padding-top: 0;
    list-style-type: none;
}



.top_nav .menu_column .menu_button {
    border: white;
    line-height: 50px;
    text-align: center;
    padding:0;
}



a {
    color: #f2f2f2;
    text-decoration:  none; 
}




.bottom_nav {
    width: 100%;
    background-color: 2A2A2A;
    color: #f2f2f2;
    display: none;
}

.bottom_nav div{
    text-align: center;
    line-height: 50px;
    font-size: 18px;


}

.bottom_nav a {
    outline-style:none;
}

.bottom_nav.show {
    display: block;
}



#soundkey-object-name {
    margin: 0 auto;
    text-align: center;
    color: rgb(66, 134, 244);
    font-size: 2em;
}

#sk-container {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

.chord-select-container {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    list-style-type: none;
    flex-direction: column;


}

input[type="radio"] {
    display: none;
}

input[type="checkbox"] {
    display: none;
}

input[type="radio"]+label {
    background-color: rgba(52, 49, 61,0);
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column; /* column | row */


}

#Seventh {
    background-color: red;
    border: none;

    margin-top: 10px;
    height: 20px;
    width: 20px;
    text-align: center;
    padding: 0 ;
}

.basic-chord-construction input:checked+label {
    background-color: rgba(73, 67, 89,0.75);
    color: rgb(244, 244, 244); 
}

input[type="checkbox"]checked+lavel {
   background-color: rgba(73, 67, 89,0.75);
    color: rgb(244, 244, 244); 
}

.extended-chord-construction input:checked+label {
    background-color: rgba(73, 67, 89,0.75);
    color: rgb(244, 244, 244); 
}

.notes-chord-menu input:checked+label {
    background-color: rgba(73, 67, 89,0.75);
    color: rgb(244, 244, 244); 
}



.basic-chord-construction input+label h4 {
    margin: 5px 10px;
    text-align: center;
}

.extended-chord-construction input+label h4 {
    margin: 5px 10px;
    text-align: center;

}

.extended-chord-construction input+label h4 {
    margin: 5px 10px;
    text-align: center;

color: rgb(183, 183, 183);
}
input[type="radio"]:hover+label {
    background-color: rgba(52, 49, 61,0.75);
    color: rgb(244, 244, 244);
    cursor: pointer;
}

.basic-chord-construction {
    display: flex;
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    list-style-type: none;
}

.extended-chord-construction {
    display: flex;
    display: none;
    width: 100%;
    align-items: stretch;
    justify-content: space-evenly;
    list-style-type: none;
}

.notes-chord-menu {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    margin: 0 auto;
    margin-bottom :10px;

}

.notes-chord-menu input+label h4 {
    margin: 5px 10px;
    text-align: center;
}

.notes input+label h4 {
    margin: 5px 10px;
    text-align: center;
}


input[type="checkbox"]:hover+label {
    //background-color: rgba(52, 49, 61,0.75);
    color: rgb(244, 244, 244);
    cursor: pointer;
}


.extended-chord-construction.d-visible {
    display: flex;
}


