{% extends "fretboard/header.html" %}

{% block content %}

<div class="row">
  <div class ="col-sm-2">
      <h3 class="sidebar"><p>Scales</p></h3>
      <h3 ><p class="sidebar">Chords</p></h3>
  </div>
</div>







  <!-- Cool stuff -->




<div class-"container-fluid">

<div class="well no-gutters" id ="fret3">
  <div class="row no-gutters" >
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|


        O
        </div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>



        </div>
</div>
<div class="well no-gutters" id ="fret3">
  <div class="row no-gutters" >
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|


        O
        </div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>



        </div>
</div>
<div class="well no-gutters" id ="fret3">
  <div class="row no-gutters" >
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|


        O
        </div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>



        </div>
</div>

<div class="well no-gutters" id ="fret3">
  <div class="row no-gutters" >
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
           <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>



        </div>
</div>


  
    <div class="row no-gutters" >
      
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|
            <div class="col-12 text-center">O</div>
        </div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
      
    </div>

    <div class="row no-gutters" >
      
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|
            <div class="col-12 text-center">O</div>
        </div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
      
    </div>
    <div class="row no-gutters" >
      
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|

          <div class="col-12 text-center">O</div>
        </div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
      
    </div>
    <div class="row no-gutters" >
      
        <div class="col-1">|</div>
        <div class="col-1">|

        <div class="col-12 text-center">O</div>
        </div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
      
    </div>
    <div class="row no-gutters" >
      
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|

          <div class="col-12 text-center">O</div>
        </div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
      
    </div>
    <div class="row no-gutters" >
      
        <div class="col-1">|
          
            <div class="col-12 text-center">----------------------------------------------</div>
          






        </div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
        <div class="col-1">|</div>
      
    </div>
  </div>
      

</div>




<div class="row" >
  <div class="col-12">
  <iframe src="https://codepen.io/DreySkee/full/bddpqM/" name="report" style="position: absolute; top: 0; right: 0; bottom: 0: left: 0;"></iframe>
  </div>
</div>





<script>
  function resizeIframe(obj) {
    obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
  }
</script>


{% endblock %}