.chord-scale-sidebar {  
    background-color: #3b3a36;
    display: none;
    opacity: 0.9;
    color: #e9ece5;
}

.visible {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 10;
    display: block;
    overflow: auto;
}

.close-menu-button {
    position: fixed;
    width: 2em;
    height: 2em;
    right: 6%;
    top: 0.5em;
    border-radius: 50%;
    text-align: center;
    line-height: 2em;
    color: white;
}

.close-menu-button:hover {
    cursor: pointer;
}

.chord-scale-sidebar ul {
    padding: 0;
}

.main-menu {
    margin: 0 auto;
    cursor: grab;
    user-select: none;
    //width: 50%;
}

.menu-level-1 {
    height: 4em;
    text-align: center;
}

.menu-level-1 h3 {
    margin: 0;
    line-height: 3.5em;
    color: #FFAC00;


}

/* Scale series category */
.menu-level-2 {
    height: 3em;
    text-align: center;
}

.menu-level-2 h4 {
    margin: 0;
    line-height: 2.4em;
    font-size: 1.2em;
    font-weight: normal;
    cursor: pointer;
    background-color: transparent;
    //color: #8384aa;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

.menu-level-2 h4:hover {
    cursor: pointer;
}

.menu-level-3 {
    text-align: center;
    display: none;
}

/* The actual scale items */
.menu-level-3 li {
    height: 2.4em;
    line-height: 2.4em;
}

.menu-level-3 li a:hover {
    color: #1a7faf;
    //color: #1aaf8e;
    background-color: transparent;
    cursor: pointer;
}


.items-visible {
    display: block;
}