

h1 {
    text-align: center;
    margin: 0.5em 0;
    
}
body {
    margin:0;
    background-color: #d6d6d6;
}

.neck {
    position: relative;
    margin: 1.25em auto;
    background-color: rgb(40, 31, 18);
    width: 62.0625em;
    height: 15.375em;
    //box-shadow: inset -1px 0px 11px 0px rgba(0, 0, 0, 0.75);
    box-shadow: inset -0.0625em 0em 0.6875em 0em rgba(0, 0, 0, 0.75);
    
    /* Make elements on neck unselectable*/
    /* And normal cursor by default */
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    
    overflow: hidden;

    
}



/* Neck minus 0 fret is 954px */
.frets {
    position: absolute;
    top: 0;
    left: 5.375em;
    overflow: visible;

    /* test */

    width: 62.0625em;
    height: 15.375em;
    padding: 0 0 0 2.5em;

}


.frets li {
    width 0.1875em;
    float: left;
    height: 103%;
    margin-top: -2%;
    margin-left: 4.8125em;
    background-color: rgb(215, 214, 214);
    display: inline-block;
    //border-right: 2px solid #686868;
    border-right: 0.125em solid #686868;
    
}

/* special spacing for the 0th fret */
.frets:nth-child(1) {
    margin-left: -10em;
    border-right: none;
    
}

.strings {
    position: absolute;
    //top: 10px;
    top: 4%;
    left: 0.375em;
    width: 59.25em;
    height: 100%;
    
    padding: 0 0 0 2.5em;
}

.strings li {
    display: block;
    border-bottom: 1px solid #958963;
    //margin-bottom:  39px;
    margin-bottom:  4%;
   
}

.dots {
    position: absolute;
    left: 12.125em;
    width: 41.25em;
    height: 1em;
    
    //top: 40.5%;
    padding: 0 0 0 2.5em;
    
}

.dots li {
    float:left;
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background: rgb(173, 170, 164);
    margin-right: 8.875em;
    margin-top: 6.25em;
}

/* multi dot */
.dots_multi {
    position: absolute;
    left: 6.25em;
    width: 51.25em;
    top: 3.8em;
    height: 100%;
    padding: 0 0 0 2.5em;
}

.dots_multi li {
    width: 1em;
    height: 1em;
    display: block;
    border-radius: 50%;
    background: rgb(173, 170, 164);
    margin-bottom: 3.9375em;
    float: right;
    clear: right;
    
    
    
}

.notes {
    position: relative;
    //top: -1em;
    top: -0.8125em;
    left: -4.5em;
    width: 75em;
    height: 0em;

    
    z-index: 1;
    padding: 0 0 0 2.5em;
}


.notes li {
    display: inline-block;
    margin: 0;
    margin-right: 3.03em;
    background-color: rgb(209, 129, 14);
    border-radius: 50%;
    text-align: center;
    line-height: 1.625em;
    font-size: 1em;
    box-shadow: 0em 0.3125em 0.5em 0em rgba(0, 0, 0, 0.75);
    height: 1.625em;
    width: 1.625em;
    color: white;
    text-shadow: 0em 0.0625em 0.125em rgb(68, 68, 68);
    border-bottom: none;
     
    
}


/* special spacing for the 0th note */
.notes li:nth-child(1) {
    margin-right: 3.583333em;
    margin-left: -0.33333em;
    height: 1.5em;
    width: 1.5em;
    line-height: 1.66667em;
    font-size: 0.75em;
    background-color: rgb(119, 171, 175);
}



.nut {
    position: absolute;
    background-color: rgb(216, 210, 192);
    left: 2.25em;
    width: 0.625em;
    height: 100%;
    z-index: 1;
    box-shadow: inset -0.0625em 0px 0.6875em 0em rgba(0, 0, 0, 0.75);
    
    /* test */
}

/* firefox margin workaround */
.clear_div {
    clear: both;
}



.notes .invisible {
    visibility: hidden;
}

.notes .invisible:nth-child(1) {
    visibility: visible;
    background-color: rgb(29, 49, 51);
    color: rgb(86, 117, 119);
}



.new_container {
    margin: 20px auto;
    width: 993px;

    display: flex;
    //flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.new_container2 {
    margin: 20px auto;
    width: 993px;

    display: flex;
    //flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.sub_container {
    
    
    background-color: rgb(59, 119, 95);
    margin: 0;
    width: calc((100% - 2 * 15px) / 3);
    width: calc(33% + 62px);

    height: 66px;
    text-align: center;
    line-height: 66px;
    color: white;
    font-size: 2em;
}

.sub_container:nth-child(1) {
    height: 66px;
    text-align: center;
    line-height: 66px;
    color: white;
    font-size: 2em;
   background-color: rgb(87, 175, 140);
}

.sub_container:nth-child(3) {
    
    border-left: 2px solid rgb(147, 191, 173);}

.new_sub_container {
    background-color: rgb(59, 119, 95);
    width: calc((100% - 2 * 15px) / 3);
    width: calc(60%);
    height: 460px;
    font-size: 260%;


    color:rgb(154, 175, 167) ;
    padding: 2%;
    display: block;
}

.new_sub_container:nth-child(1) {
    width: 40%
}

.new_container ul {
    list-style-type: none;padding-left: 0;
}



.new_sub_container ul {

    margin-bottom: 10px;
    height: 100%;
    margin: 0;
    list-style-type: none;
padding-left: 0;
    color: rgb(222, 234, 229);

}

.new_sub_container li {
    font-size: 80%; 
}







@media (max-width:170px) { 
    .neck {
    font-size: 3px;
    }
}

@media (max-width:170px) { 
    .neck {
    font-size: 3px;
    }
}

@media (min-width:245px) { 
    .neck {
    font-size: 4px;
    }

}
@media (min-width:325px) { 
    .neck {
    font-size: 5px;
    }

}
@media (min-width:390px) { 
    .neck {
    font-size: 6px;
    }
}
@media (min-width:460px) { 
    .neck {
    font-size: 7px;
    }
}
@media (min-width:520px) { 
    .neck {
    font-size: 8px;
    }
}
@media (min-width:595px) { 
    .neck {
    font-size: 9px;
    }
}

@media (min-width:644px) { 
    .neck {
    font-size: 10px;
    }
}

@media (min-width:719px) { 
    .neck {
    font-size: 11px;
    }
}

@media (min-width:784px) { 

    .neck {
    font-size: 12px;
    }
} 

@media (min-width:895px) { 
    .neck {
    font-size: 13px;
    }



} 

@media (min-width:895px) { 
    .neck {
    font-size: 14px;
    }



} 

@media (min-width:960px) { 
    .neck {
    font-size: 15px;
    }



} 
@media (min-width:1025px) { 

.neck {
    font-size: 16px;
    }


}
@media (min-width:1281px) { } 